html, body, #map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
table {

}
tr {

}
td {
    border: 1px solid gainsboro;
    padding: 5px 10px;
}

.map-page {

}
.map-page .message {
    font-family: Arial;
    background: #ffdf60;
    text-align: center;
    padding: 20px;
    display: none;
}
.map-page .address {
    display: inline-block;
    margin-right: 50px;
}
.map-page .confirm {
    display: inline-block;
    background: linear-gradient(#23D500, #187a00);
    padding: 15px 25px;
    text-transform: uppercase;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    border: none;
    box-shadow: none;
}
.map-page .confirm:hover {
    background: linear-gradient(#21C600, #146600);
}
.isset {
    background-color: #21C600;
}
