{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?lang=ru-RU"></script>
        <script type="text/javascript" src="https://yandex.st/jquery/2.2.3/jquery.min.js"></script>
        <script type="application/javascript" src="{% static 'js/scripts.js' %}"></script>
    </head>
    <body>
    <table>
            <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Data_yandex</td>
            </tr>
            </thead>
            {% for item in coord %}
                <tr>
                    <td class="id">{{ item.id }}</td>
                    <td class="name">{{ item.name }}</td>
                    <td class="">
                        <a id="{{ item.id }}" class="coordinates" href=
                                "{% url 'setmap.views.yamap_edit' pk=item.pk %}">Редактировать</a>
{#                        <form>#}
{#                            <input id="coordinate-{{ item.id }}" class="coordinates" type="text" placeholder="00.00,00.00">#}
{#                        </form>#}
                        {{ item.data_yandex }}
                    </td>
                </tr>
            {% endfor %}
        </table>

    </body>
</html>



