{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?lang=ru-RU"></script>
        <script type="text/javascript" src="https://yandex.st/jquery/2.2.3/jquery.min.js"></script>
        <script type="application/javascript" src="{% static 'js/scripts.js' %}"></script>
    </head>
    <body class="map-page">
    <form method="POST" class="edit-map message">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="address"></div>
        <button type="submit" class="confirm">Выбрать этот адрес</button>
    </form>
{#    <div class="message">#}
{#        <div class="confirm">Выбрать этот адрес</div>#}
{#    </div>#}
    <div id="map"></div>
    </body>
</html>